
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}
body{
    background-color: rgb(46, 67, 52);
}
.banner{
    position:relative;
    width:100%;
    height:100vh;
    background-color: rgb(48, 80, 81);
    display:flex;
    justify-content: center;
    align-items:center;
}
.banner img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0.25;
}
.banner .content{

text-align: center;
max-width: 1000px;
}
.banner .content h2{
    font-size: 76px;
    font-weight: 800;
    padding-left:50px;
    

}
.banner .content p{
    text-align: center;
    font-size:18px;
}
.navbar{
    width:100%;
   height:65px ;
   background-color: rgb(39, 62, 54);
   padding-left: 500px;
   padding-top: 20px;
   border:1px rgb(27, 52, 36) solid;
   border-radius: 30px;
   
}
.nav .list li{
    display:inline;
    padding:20px;
    margin-left: 30px;
    border:1px  rgb(73, 107, 96) solid;
    border-radius: 30px;
    background-color: rgb(64, 120, 84);
    cursor: pointer;
    font-size: 12px;
   
}
.nav .list li a{
    text-decoration: none;
    color:#000;
}
.nav .list li:hover{
    background-color: rgb(73, 107, 96);
}
.about{
    
    width:100%;
    display:flex;
}
.about .contentBx{
    background-color: rgb(15, 58, 83);
    padding:100px;
    width:50%;
    clip-path: circle(700px at left 60%);
    opacity:0.9;
    margin-top: -65px;
   
    

}


.about .contentBx .heading{
    font-size:60px;
    font-weight: 700;
    letter-spacing:1px;
    padding:20px;
    opacity:0.9;
   
}
.imgBx{
    background: url('./gallery/imgBx.jpg');
    width:100%;
    height:100%;
    margin-top:-821px;
   background-size: cover;
   background-position: center;
   display:flex;
 position:absolute;
 z-index: -100;
 opacity:0.9;
}
.services{
    background-color: rgb(46, 67, 52);
    padding:100px;
    text-align:center;
    margin-top: -150px;
    
}
.services .heading {
    font-size: 50px;
    padding-bottom: 30px;
}
.services .container{
width:1100px;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
margin-top:50px;
margin-left: 80px;
    }
.services .container .serviceBx{

    position:relative;
    background-color: rgb(185, 66, 121);
    width:350px;
    height:400px;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index: 10000;
    
    
    
}
.services .container .serviceBx:hover{
    color: rgb(210, 182, 236);
    cursor: pointer;
}
    .serviceBx .imgSize .fa-solid{
    font-size: 100px;
    padding: 20px;
    }
   
       
    .services .container .serviceBx h2{
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 500;
    }
.idea{
    background-color: rgb(17, 80, 146);
    clip-path: circle(110% at right 20%);
    margin-top:-300px;
    display:flex;
    width: 100%;
    padding-top:600px;
    justify-content: space-between;
    align-items: center;
}
.idea .heading{
position:relative;
top:-300px;
left:550px;
text-align: right;

}

@media(max-width:1100px){
.banner{
    
}
.banner header{
    padding: 20px 50px;
}
.banner .content h2{
    font-size:36px;
    padding-right: 50px;
}
.banner .content p{
    font-size:16px;
}
.navbar .nav .list{
   position:relative;
   right:450px;
 display: inline-flex;
 align-items: center;
   


}
.navbar{
    height:80px;
    margin-top: 10px;
    overflow: scroll;
    
}
.navbar .nav .list li{
    font-size: 10px;
    padding:7px;
    margin-top: 5px 0;
    text-align: center;
    
  
    
}
.about{
    margin-top:700px;
    min-height: 150%;
    align-items: center;
}
.about .contentBx{
    position:absolute;
    top:910px;
    left:25px;
    width: 90%;
    height:510px;
    clip-path: none;
    overflow: scroll;
   
   
   
   
}
.about .contentBx .heading {
    font-size: 10px;
    margin-top: -80px;
    text-align: center;
}
.about .contentBx .text{
    font-size: 11px;
    text-align: center;
    padding:0px;
    margin:0px;
    
    
    

}
.services .container{
    margin-left: -80px;
    display:inline;
    
    
}
.services .container .serviceBx{
   
    margin-bottom: 20px;
    align-items: center;
}
.services .heading{
    text-align: left;
    align-items: center;
}
.services p{
   
    text-align: left;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.idea{
    clip-path: none;
    align-items: center;
    
}
.idea .heading{
   position:relative;
   bottom:20px;
   left:-8px;
   
}
.idea .heading{
    font-size: 10px;
  padding: 10px;
  text-align: right;
}

.container .serviceBx{
align-items: center;
}
.services{
    overflow:scroll;
}
}